@using TennisShop.Models
@model List<Article>
@{
    ViewData["Title"] = "Index";
}

@if ((Model == null) || (Model.Count == 0))
{
    <p>
        Es sind momentan keine Artikel im Shop erhältlich!
    </p>
}
else
{
    <section class="background-image">
    <table>
        <thead>
            <tr>
                <td colspan="5"><b>Shopartikel</b></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Artikel-ID</td>
                <td>Artikel-Name</td>
                <td>Article-Beschreibung</td>
                <td>Preis</td>
                <td>Erscheinungsdatum</td>
                <td>Kategorie</td>
            </tr>
            @foreach (Article a in Model)
            {
                <tr>
                    <td>@a.ArticleID</td>
                    <td>@a.Articlename</td>
                    <td>@a.Description</td>
                    <td>@a.Price</td>
                    <td>@a.ReleaseDate</td>
                    <td>@a.Category</td>
                </tr>
            }
        </tbody>
    </table>
</section>
}
